In [1]:
import pandas as pd

In [251]:
df = pd.read_csv('ngwl_for_competition.csv', encoding = 'cp1251', sep = ';' )

In [282]:
df[df['ORDER_CREATED_AT'].dt.month == 8]

,PHONE_ID,TARGET,ORDER_CREATED_AT,S_CITY_NAME,CNT_30_D,AVG_COST_30D,AVG_WEIGHT_30D,SUM_RATE_30D,CNT_30_COMPLETED,CNT_30_CANCELED,AVG_COST_30D_CANCELED,AVG_COST_30D_COMPLETE,AVG_RATE_30D_COMPLETE,CNT_RETAILER_30D,AVG_ITEMS_CNT,AVG_PRICE,AVG_QUANTITY_SUM,AVG_UNIQ_CATEQ,AVG_REPLACED_CNT,AVG_CANCELLED_CNT
50,32,1,2020-08-16,64,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
54,41,1,2020-08-07,95,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
62,45,1,2020-08-08,66,5,217.0,45696.0,5.0,5,0,NaN,217.0,5.0,2,42.0,4105.0,62.0,20.0,1.0,2.0
72,45,1,2020-08-16,66,6,154.0,44524.0,5.0,6,0,NaN,154.0,5.0,2,44.0,4300.0,60.0,23.0,0.0,1.0
80,45,1,2020-08-27,66,4,143.0,60029.0,5.0,4,0,NaN,143.0,5.0,2,56.0,5530.0,80.0,26.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1559572,718785,1,2020-08-14,67,2,1.0,10341.0,5.0,2,0,NaN,1.0,5.0,1,23.0,2078.0,35.0,14.0,0.0,2.0
1559573,718932,1,2020-08-14,42,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1559574,718956,1,2020-08-14,67,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1559575,719214,1,2020-08-14,48,2,1.0,4360.0,5.0,2,0,NaN,1.0,5.0,2,12.0,2564.0,22.0,7.0,1.0,1.0
1559576,719373,1,2020-08-14,43,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [267]:
test = df[df['ORDER_CREATED_AT'].dt.month.isin([7])]

In [256]:
train = df[~df['ORDER_CREATED_AT'].dt.month.isin([7])]

In [274]:
X_train = train.drop(['TARGET', 'ORDER_CREATED_AT'], axis = 1)

In [275]:
y_train = train['TARGET']

In [269]:
test = test[test['ORDER_CREATED_AT'].dt.month == 7]

In [272]:
X_test = test.drop(['TARGET',"ORDER_CREATED_AT"], axis = 1 )

In [273]:
y_test = test['TARGET']

In [276]:
booster = xgb.XGBClassifier()
booster.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [277]:
f1_score(y_test, booster.predict(X_test))

0.8529152633897488

In [278]:
df.head(100)

,PHONE_ID,TARGET,ORDER_CREATED_AT,S_CITY_NAME,CNT_30_D,AVG_COST_30D,AVG_WEIGHT_30D,SUM_RATE_30D,CNT_30_COMPLETED,CNT_30_CANCELED,AVG_COST_30D_CANCELED,AVG_COST_30D_COMPLETE,AVG_RATE_30D_COMPLETE,CNT_RETAILER_30D,AVG_ITEMS_CNT,AVG_PRICE,AVG_QUANTITY_SUM,AVG_UNIQ_CATEQ,AVG_REPLACED_CNT,AVG_CANCELLED_CNT
0,9,0,2020-05-02,42,3,0.0,20048.0,0.0,3,0,NaN,0.0,0.0,1,46.0,6941.0,75.0,29.0,2.0,3.0
1,9,0,2020-05-06,42,4,0.0,18640.0,0.0,4,0,NaN,0.0,0.0,1,46.0,6528.0,77.0,29.0,2.0,5.0
2,9,0,2020-04-08,42,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
3,9,0,2020-07-08,42,2,0.0,8600.0,0.0,2,0,NaN,0.0,0.0,1,20.0,4332.0,34.0,14.0,1.0,0.0
4,9,0,2020-05-09,42,4,40.0,16337.0,0.0,4,0,NaN,40.0,0.0,1,40.0,5617.0,74.0,26.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,57,1,2020-04-03,88,4,153.0,16140.0,4.0,3,1,199.0,138.0,5.0,2,29.0,3199.0,33.0,19.0,2.0,1.0
96,57,1,2020-08-04,88,8,113.0,11182.0,4.0,8,0,NaN,113.0,4.0,1,19.0,2057.0,25.0,13.0,1.0,1.0
97,57,1,2020-06-05,88,9,105.0,12220.0,5.0,9,0,NaN,105.0,5.0,2,27.0,2993.0,31.0,19.0,1.0,1.0
98,57,1,2020-07-06,88,7,149.0,12352.0,4.0,7,0,NaN,149.0,4.0,1,24.0,2880.0,29.0,16.0,1.0,1.0
99,57,1,2020-05-08,88,8,119.0,13873.0,5.0,8,0,NaN,119.0,5.0,1,30.0,3688.0,35.0,19.0,3.0,1.0

In [254]:
df['ORDER_CREATED_AT'] = pd.to_datetime(df['ORDER_CREATED_AT'], format = '%d.%m.%Y')

In [21]:
df

,PHONE_ID,TARGET,ORDER_CREATED_AT,S_CITY_NAME,CNT_30_D,AVG_COST_30D,AVG_WEIGHT_30D,SUM_RATE_30D,CNT_30_COMPLETED,CNT_30_CANCELED,AVG_COST_30D_CANCELED,AVG_COST_30D_COMPLETE,AVG_RATE_30D_COMPLETE,CNT_RETAILER_30D,AVG_ITEMS_CNT,AVG_PRICE,AVG_QUANTITY_SUM,AVG_UNIQ_CATEQ,AVG_REPLACED_CNT,AVG_CANCELLED_CNT
0,9,0,2020-05-02,42,3,0.0,20048.0,0.0,3,0,NaN,0.0,0.0,1,46.0,6941.0,75.0,29.0,2.0,3.0
1,9,0,2020-05-06,42,4,0.0,18640.0,0.0,4,0,NaN,0.0,0.0,1,46.0,6528.0,77.0,29.0,2.0,5.0
2,9,0,2020-04-08,42,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
3,9,0,2020-07-08,42,2,0.0,8600.0,0.0,2,0,NaN,0.0,0.0,1,20.0,4332.0,34.0,14.0,1.0,0.0
4,9,0,2020-05-09,42,4,40.0,16337.0,0.0,4,0,NaN,40.0,0.0,1,40.0,5617.0,74.0,26.0,2.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1559572,718785,1,2020-08-14,67,2,1.0,10341.0,5.0,2,0,NaN,1.0,5.0,1,23.0,2078.0,35.0,14.0,0.0,2.0
1559573,718932,1,2020-08-14,42,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1559574,718956,1,2020-08-14,67,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1559575,719214,1,2020-08-14,48,2,1.0,4360.0,5.0,2,0,NaN,1.0,5.0,2,12.0,2564.0,22.0,7.0,1.0,1.0
1559576,719373,1,2020-08-14,43,0,NaN,NaN,NaN,0,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
from sklearn.preprocessing import LabelEncoder

In [252]:
df['S_CITY_NAME'] = LabelEncoder().fit_transform(df['S_CITY_NAME'])

In [131]:
data = df.groupby(['PHONE_ID',df['ORDER_CREATED_AT'].dt.month]).mean()

In [133]:
data = data.reset_index()

In [135]:
data.head()

,PHONE_ID,ORDER_CREATED_AT,TARGET,S_CITY_NAME,CNT_30_D,AVG_COST_30D,AVG_WEIGHT_30D,SUM_RATE_30D,CNT_30_COMPLETED,CNT_30_CANCELED,AVG_COST_30D_CANCELED,AVG_COST_30D_COMPLETE,AVG_RATE_30D_COMPLETE,CNT_RETAILER_30D,AVG_ITEMS_CNT,AVG_PRICE,AVG_QUANTITY_SUM,AVG_UNIQ_CATEQ,AVG_REPLACED_CNT,AVG_CANCELLED_CNT
0,2,1,0.0,42.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,0.0,42.0,1.0,183.0,33973.0,0.0,1.0,0.0,NaN,183.0,0.0,1.0,32.0,3536.0,44.0,18.0,1.0,0.5
2,2,3,0.0,42.0,1.0,233.0,34195.0,0.0,1.0,0.0,NaN,233.0,0.0,1.0,45.0,5086.0,52.0,24.0,2.0,0.0
3,3,3,0.0,42.0,0.5,0.0,10680.0,5.0,0.5,0.0,NaN,0.0,5.0,0.5,33.0,2348.0,54.0,21.0,0.0,3.0
4,3,5,0.0,42.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
test = data[data['ORDER_CREATED_AT']==8]

In [137]:
test.head()

,PHONE_ID,ORDER_CREATED_AT,TARGET,S_CITY_NAME,CNT_30_D,AVG_COST_30D,AVG_WEIGHT_30D,SUM_RATE_30D,CNT_30_COMPLETED,CNT_30_CANCELED,AVG_COST_30D_CANCELED,AVG_COST_30D_COMPLETE,AVG_RATE_30D_COMPLETE,CNT_RETAILER_30D,AVG_ITEMS_CNT,AVG_PRICE,AVG_QUANTITY_SUM,AVG_UNIQ_CATEQ,AVG_REPLACED_CNT,AVG_CANCELLED_CNT
34,18,8,1.0,42.0,1.000000,158.000000,22270.0,5.000000,1.000000,0.0,NaN,158.000000,5.000000,1.000000,39.000000,6566.000000,57.0,23.000000,0.0,5.00
48,20,8,1.0,84.0,4.333333,41.166667,19180.0,4.666667,4.333333,0.0,NaN,41.166667,4.666667,1.333333,19.166667,3189.833333,45.5,10.833333,1.5,0.00
61,24,8,1.0,66.0,0.000000,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
66,25,8,1.0,42.0,5.500000,69.750000,17477.5,5.000000,5.500000,0.0,NaN,69.750000,5.000000,2.000000,10.000000,2652.250000,29.0,7.250000,0.0,0.75
71,26,8,1.0,64.0,1.000000,0.500000,11726.5,5.000000,1.000000,0.0,NaN,0.500000,5.000000,0.666667,27.500000,5414.000000,51.0,20.500000,0.0,0.00

In [225]:
train = data[data['ORDER_CREATED_AT'] == 7]

In [139]:
test.shape, train.shape

((76823, 20), (127173, 20))

In [140]:
X_test = train[train['PHONE_ID'].isin(test['PHONE_ID'])].drop('TARGET',axis = 1)

In [161]:
y_test = test[test['PHONE_ID'].isin(train['PHONE_ID'])]['TARGET']

In [226]:
X_train = train[~train['PHONE_ID'].isin(test['PHONE_ID'])].drop('TARGET', axis = 1)

In [156]:
train[train['PHONE_ID'].isin(test['PHONE_ID'])]

,PHONE_ID,ORDER_CREATED_AT,TARGET,S_CITY_NAME,CNT_30_D,AVG_COST_30D,AVG_WEIGHT_30D,SUM_RATE_30D,CNT_30_COMPLETED,CNT_30_CANCELED,AVG_COST_30D_CANCELED,AVG_COST_30D_COMPLETE,AVG_RATE_30D_COMPLETE,CNT_RETAILER_30D,AVG_ITEMS_CNT,AVG_PRICE,AVG_QUANTITY_SUM,AVG_UNIQ_CATEQ,AVG_REPLACED_CNT,AVG_CANCELLED_CNT
33,18,7,1.0,42.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
47,20,7,1.0,84.0,5.250000,142.250000,21370.500000,5.000000,5.250000,0.000000,NaN,142.250000,5.000000,1.0,16.500000,3201.000000,27.000000,9.750000,0.750000,0.000000
65,25,7,1.0,42.0,6.142857,143.000000,16052.428571,4.000000,6.142857,0.000000,NaN,143.000000,4.000000,2.0,13.857143,3106.857143,33.285714,10.285714,0.857143,1.000000
84,30,7,1.0,42.0,6.333333,83.666667,22605.333333,2.333333,3.666667,2.666667,114.0,71.333333,4.333333,1.0,53.000000,8847.333333,61.666667,23.333333,2.333333,1.333333
103,40,7,1.0,18.0,2.500000,146.500000,43612.500000,4.500000,2.500000,0.000000,NaN,146.500000,4.500000,1.5,80.500000,11827.000000,134.000000,39.000000,6.500000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740520,684252,7,1.0,18.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
740603,685796,7,1.0,39.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
741221,692416,7,1.0,52.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
741754,700341,7,1.0,42.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
743316,718100,7,1.0,66.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
y_train.shape,X_train.shape

((65157,), (65157, 19))

In [227]:
y_train = train[~train['PHONE_ID'].isin(test['PHONE_ID'])]['TARGET']

In [163]:
import xgboost as xgb

In [228]:
model = xgb.XGBClassifier()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1,
              objective='binary:logistic', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [236]:
df[df['ORDER_CREATED_AT'] == 8]

Empty DataFrame
Columns: [PHONE_ID, TARGET, ORDER_CREATED_AT, S_CITY_NAME, CNT_30_D, AVG_COST_30D, AVG_WEIGHT_30D, SUM_RATE_30D, CNT_30_COMPLETED, CNT_30_CANCELED, AVG_COST_30D_CANCELED, AVG_COST_30D_COMPLETE, AVG_RATE_30D_COMPLETE, CNT_RETAILER_30D, AVG_ITEMS_CNT, AVG_PRICE, AVG_QUANTITY_SUM, AVG_UNIQ_CATEQ, AVG_REPLACED_CNT, AVG_CANCELLED_CNT]
Index: []

In [229]:
pred = model.predict(X_test)

In [168]:
from sklearn.metrics import f1_score

In [231]:
f1_score(pred,y_test)

0.8925791200050052

In [198]:
X_test

,PHONE_ID,ORDER_CREATED_AT,S_CITY_NAME,CNT_30_D,AVG_COST_30D,AVG_WEIGHT_30D,SUM_RATE_30D,CNT_30_COMPLETED,CNT_30_CANCELED,AVG_COST_30D_CANCELED,AVG_COST_30D_COMPLETE,AVG_RATE_30D_COMPLETE,CNT_RETAILER_30D,AVG_ITEMS_CNT,AVG_PRICE,AVG_QUANTITY_SUM,AVG_UNIQ_CATEQ,AVG_REPLACED_CNT,AVG_CANCELLED_CNT
33,18,7,42.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
47,20,7,84.0,5.250000,142.250000,21370.500000,5.000000,5.250000,0.000000,NaN,142.250000,5.000000,1.0,16.500000,3201.000000,27.000000,9.750000,0.750000,0.000000
65,25,7,42.0,6.142857,143.000000,16052.428571,4.000000,6.142857,0.000000,NaN,143.000000,4.000000,2.0,13.857143,3106.857143,33.285714,10.285714,0.857143,1.000000
84,30,7,42.0,6.333333,83.666667,22605.333333,2.333333,3.666667,2.666667,114.0,71.333333,4.333333,1.0,53.000000,8847.333333,61.666667,23.333333,2.333333,1.333333
103,40,7,18.0,2.500000,146.500000,43612.500000,4.500000,2.500000,0.000000,NaN,146.500000,4.500000,1.5,80.500000,11827.000000,134.000000,39.000000,6.500000,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740520,684252,7,18.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
740603,685796,7,39.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
741221,692416,7,52.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
741754,700341,7,42.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
743316,718100,7,66.0,0.000000,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [176]:
X_train['ORDER_CREATED_AT'].unique()

array([7], dtype=int64)